# whitelist gitignore pattern
/*
/.*
!/.gitignore
!/README.md

!/.bashrc
!/.bash_profile

# !.config/** restores the default behavior of git inside .config
# (to recursively track subdirectories; !.config/* doesn't recurse)
# in the context of this whitelist pattern, this is meaningless
# it does matter for whenever i (rarely) switch to blacklist
# also, just adding !.config/** will not unignore .config
!.config
!.config/**
!.local
!.local/**

!flakes
!flakes/**

